<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          Sklep
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-left">
        <ul class="nav navbar-nav">
          <li *ngFor="let m of menu">
            <a [routerLink]="['/kategoria', m.slug]">{{m.nazwa}}</a>
          </li>
        </ul>
      </div>

      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Szukaj</button>
      </form>
    </div>
  </nav>
</header>

<section class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>

<footer >
  <div class="container">
    <p class="lead text-center">Sklep 2017</p>
  </div>
</footer>