<div class="row">
  <div 
    class="col-md-4"
    *ngFor="let p of produkty"
    [routerLink]="['/produkt', p._id]">
    <img src="{{p.img_small}}" alt="{{p.nazwa}}">
    <h2>{{p.nazwa}}</h2>
  </div>
</div>