<div *ngIf="produkt">
  <h1>{{produkt.nazwa}}</h1>
  <img src="{{produkt.img_big}}" alt="">
  <img src="{{produkt.img_small}}" alt="">
  <p>
    Cena:
    <strong>{{produkt.cena}}</strong>
  </p>
  <p>
    Wiek:
    <strong>{{produkt.wiek}}</strong>
  </p>
  <p>
    Marka:
    <strong>{{produkt.marka}}</strong>
  </p>
  <hr>
  <p>{{produkt.opis}}</p>
</div>