<div class="row" *ngIf="kategoria">
  <div class="col-md-3">
    <ul>
      <li *ngFor="let k of kategoria.podkategorie">{{k.nazwa}}</li>
    </ul>
  </div>
  <div class="col-md-9">
    <h1>{{kategoria.nazwa}}</h1>
    
    <div class="row" *ngIf="produkty">
      <div 
        class="col-md-4"
        *ngFor="let p of produkty"
        [routerLink]="['/produkt', p._id]">
        <img src="{{p.img_small}}" alt="{{p.nazwa}}">
        <h2>{{p.nazwa}}</h2>
      </div>
    </div>
  </div>
</div>